html {
  height: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0px;
  height: 100%;
}

.raprompt {
  color: #0f0;
}

#leftpane {
  background: #000;
  color: #fff;
  float: left;
  width: 50%;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  word-wrap: break-word;
}

#rightpane {
  background: #fff;
  color: #fff;
  float: right;
  width: 50%;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
}

.node circle {
  fill: #fff;
  stroke: #4682b4;
  stroke-width: 3px;
}

.node text {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 2px;
}