html {
  height: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0px;
  height: 100%;
}

pre {
  background: #000;
  border: none;
  color: white;
}

.raprompt {
  color: #0f0;
}

#leftpane {
  background: #000;
  color: #fff;
  float: left;
  width: 50%;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  word-wrap: break-word;
}

#rightpane {
  background: #fff;
  color: #000;
  float: right;
  width: 50%;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  cursor: default;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.helpText {
  font-size: 12px;
}

.nodelabel {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 16px;
}

.nodesubscript {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 12px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 2px;
}

.noshow {
  display: none;
}

.show {
  display:block;
}

.draggable {
  cursor: move;
}

.yespointer {
  pointer-events: all;
}

.nopointer {
  pointer-events: none;
}
